<!-- testimonial_area  -->
<div class="testimonial_area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                            <div class="single_testmonial text-center">
                                    <div class="quote">
                                        <img src="img/testmonial/quote.svg" alt="">
                                    </div>
                                    <p>Stephen is a very passionate Blockchain Individual who has been actively engaging tech communities across Nigeria and teaching them blockchain with the aim of helping them to adopt and use the technology. </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                                <img src="img/testmonial/thumb.png" alt="">
                                        </div>
                                        <h3>Seth Michael</h3>
                                        <span>CEO, UnifiedCamp</span>
                                    </div>
                                </div>
                    </div>
                    <div class="single_carousel">
                            <div class="single_testmonial text-center">
                                    <div class="quote">
                                        <img src="img/testmonial/quote.svg" alt="">
                                    </div>
                                    <p>A qualified Blockchain developer I will recommend anytime to anyone who is looking for a solid Blockchain solution. He is dedicated to any task assigned to him </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                                <img src="img/testmonial/thumb.png" alt="">
                                        </div>
                                        <h3>Etienne Okeke</h3>
                                        <span>Business Owner</span>
                                    </div>
                                </div>
                    </div>
                    <div class="single_carousel">
                            <div class="single_testmonial text-center">
                                    <div class="quote">
                                        <img src="img/testmonial/quote.svg" alt="">
                                    </div>
                                    <p>An amazing and hardworking Blockchain ambassador and enthusiast. Passionate, honest and straightforward about his work <br>
                                        An awesome person to work with. </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                                <img src="img/testmonial/thumb.png" alt="">
                                        </div>
                                        <h3>Emmanuel Nduka</h3>
                                        <span>CTO, Elesarr.com</span>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->