<%- include("./partials/Header.ejs"); %>

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="bradcam_text text-center">
                      <h3>About Me</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /bradcam_area  -->

  <div class="video_area">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="video_wrap">
                      <div class="thumb">
                          <img src="img/video/video_bg.png" alt="">
                          <div class="video_icon">
                              <a class="popup-video" href="https://www.youtube.com/watch?v=1Prw90PRiJE"> <i class="fa fa-play"></i> </a>
                          </div>
                      </div>
                      <div class="video_text text-center">
                          <p>Hi there, I am Milan. I am designer, artist, cat  <br>
                              lover and I would like to share with you some of <br> 
                              my ideas.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <!-- about_me  -->

  <%- include("./partials/About.ejs"); %> -->
  <!--/ about_me  -->

  <div class="counter_area">
      <div class="container">
          <div class="row">
              <div class="col-xl-4 col-md-4">
                  <div class="single_counter text-center">
                      <h3>
                          <span class="counter" >520 </span><span>+</span>
                      </h3>
                      <p>Total Projects</p>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4">
                  <div class="single_counter text-center">
                      <h3>
                          <span class="counter">244 </span>
                      </h3>
                      <p>On Going Projects</p>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4">
                  <div class="single_counter text-center">
                      <h3>
                          <span class="counter">95 </span> <span>%</span>
                      </h3>
                      <p>Job Success</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- testimonial_area  -->

  <%- include("./partials/Testimonials.ejs"); %> -->

      <!-- /testimonial_area  -->
  
  <div class="discuss_projects">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="project_text text-center">
                      <h3>Let’s discuss for a project</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.</p>
                      <a class="boxed-btn3" href="#">Start Talking</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
<%- include("./partials/Footer.ejs"); %> 