<%- include("./partials/Header.ejs"); %>

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="bradcam_text text-center">
                      <h3>About Me</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /bradcam_area  -->

 


  <!-- about_me  -->

  <%- include("./partials/About.ejs"); %> -->
  <!--/ about_me  -->

  <div class="counter_area">
      <div class="container">
          <div class="row">
              <div class="col-xl-4 col-md-4">
                  <div class="single_counter text-center">
                      <h3>
                          <span class="counter" >520 </span><span>+</span>
                      </h3>
                      <p>Total Projects</p>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4">
                  <div class="single_counter text-center">
                      <h3>
                          <span class="counter">244 </span>
                      </h3>
                      <p>On Going Projects</p>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4">
                  <div class="single_counter text-center">
                      <h3>
                          <span class="counter">95 </span> <span>%</span>
                      </h3>
                      <p>Job Success</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- testimonial_area  -->

  <%- include("./partials/Testimonials.ejs"); %> -->

      <!-- /testimonial_area  -->

<%- include("./partials/Footer.ejs"); %> 