<%- include("./partials/Header.ejs"); %>



<div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <div class="page-title">
<h2>FINGERLY AND HATCHERY DIVISIONS</h2>
</div>
        </div>
      </div>
    </div>
  </div>
<!-- BEGIN Main Container -->  
          
       <div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">     
              
	       <div class="main container"> 
           <div class="row">                    
                            <div class="std"><div class="wrapper_bl" style="margin-top: 1px;">
<div class="form_background" style="text-align: center;">
    <h2 class="text-center"><b>
        THE VISION
    </b>

    </h2>

    <p>The globally preferred source for high quality fingerlings
    </p>

    <div class="container">

      <img src="https://whypetfish.com/wp-content/uploads/2020/03/How-to-Keep-Baby-Fish-Safe-in-Aquarium-780x470.jpg" width="80%" />
    
    </div>
      

<br>
<h2 class="text-center">
    <b>THE MISSION</b>
    </h2>
<p>
    Improving and encouraging expansion of businesses in the aquaculture
    sector of Nigeria's economy
    
</p>
<p>
    A source for  premium quality for fish farm 
</p>
</div>
</div></div> 
</div>         
	       </div>
<div class="container">
    <div class="row our-features-box">
      <ul>
        <li>
          <div class="feature-box">
            <div class="icon-truck"></div>
            <div class="content">FREE SHIPPING on order over $99</div>
          </div>
        </li>
        <li>
          <div class="feature-box">
            <div class="icon-support"></div>
            <div class="content">Have a question?<br>
              +1 800 789 0000</div>
          </div>
        </li>
        <li>
          <div class="feature-box">
            <div class="icon-money"></div>
            <div class="content">100% Money Back Guarantee</div>
          </div>
        </li>
        <li>
          <div class="feature-box">
            <div class="icon-return"></div>
            <div class="content">30 days return Service</div>
          </div>
        </li>
        <li>
            <div class="feature-box">
              <div class="icon-return"></div>
              <div class="content">30 days return Service</div>
            </div>
          </li>
      </ul>
    </div>
  </div>
<%- include("./partials/Footer.ejs"); %> 